<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" lang=""> <!<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>Shopaholic - e-Commerce HTML5 Template</title>
  <meta name="description" content="Shopaholic - e-Commerce HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="assets/css/et-line-icons.css">  

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css"> 
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/themes.css">
  <link rel="stylesheet" type="text/css" href="assets/css/pages/features.css">

  <!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="assets/js/vendor/html5-3.6-respond-1.4.2.min.js"></script><![endif]-->


</head>


<body>


  <header id="masthead" class="masthead header-03">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="./">
        <img src="images/logo.png" alt="Site Logo">
      </a><!-- /.navbar-brand -->
    </div>

    <nav id="main-menu" class="menu collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li class="menu-item menu-item-has-children active">
          <a href="#">Home</a>
          <ul class="sub-menu children">
            <li class="menu-item"><a href="index-01.html">Home 01</a></li>
            <li class="menu-item"><a href="index-02.html">Home 02</a></li>
            <li class="menu-item"><a href="index-03.html">Home 03</a></li>
            <li class="menu-item"><a href="index-04.html">Home 04</a></li>
            <li class="menu-item"><a href="index-05.html">Home 05</a></li>
            <li class="menu-item"><a href="index-06.html">Home 06</a></li>
            <li class="menu-item"><a href="index-07.html">Home 07</a></li>
            <li class="menu-item"><a href="index-08.html">Home 08</a></li>
            <li class="menu-item"><a href="index-09.html">Home 09</a></li>
            <li class="menu-item"><a href="index-10.html">Home 10</a></li>
            <li class="menu-item"><a href="index-11.html">Home 11</a></li>
          </ul>
        </li>

            <li class="menu-item menu-item-has-children menu-item-has-mega-menu">
              <a href="#">Shop</a>
              <ul class="mega-menu sub-menu">
                <li>
                  <div class="container">
                    <div class="menu-item col-sm-3">
                      <h6 class="menu-title">Shop Pages</h6>
                      <ul class="menu-list">
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li> 
                        <li><a href="shop-3column.html">Shop 3 Column</a></li>
                        <li><a href="shop-4column.html">Shop 4 Column</a></li>
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <h6 class="menu-title">Shop Pages</h6>

                      <ul class="menu-list">
                        <li><a href="shop-list.html">Shop List 01</a></li>
                        <li><a href="shop-list-no-sidebar.html">Shop List 02</a></li>
                        <li><a href="shop-details-01.html">Shop Details 01</a></li>
                        <li><a href="shop-details-02.html">Shop Details 02</a></li>
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <h6 class="menu-title">Accessories</h6>

                      <ul class="menu-list">
                        <li><a href="#">Innerwears</a></li>
                        <li><a href="#">T-Shirts & Shorts</a></li>
                        <li><a href="#">Caps & Scarf</a></li>
                        <li><a href="#">Trousers</a></li>
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <div class="menu-content">
                        <a href="#">
                          <img src="images/menu/shop.png" alt="Image">
                          <h3 class="content-title">
                            <span>-65%</span>
                            Discount
                          </h3>
                        </a>
                      </div><!-- /.menu-content -->
                    </div>
                  </div>
                </li>
              </ul>
            </li>

        <li class="menu-item menu-item-has-children">
          <a href="#">Features</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">Banners</a>
              <ul class="sub-menu">
                <li><a href="banner-01.html">Banner 01</a></li>
                <li><a href="banner-02.html">Banner 02</a></li>
                <li><a href="banner-03.html">Banner 03</a></li>
                <li><a href="banner-04.html">Banner 04</a></li>
                <li><a href="banner-05.html">Banner 05</a></li>
                <li><a href="banner-06.html">Banner 06</a></li>
                <li><a href="banner-07.html">Banner 07</a></li>
                <li><a href="banner-08.html">Banner 08</a></li>
                <li><a href="banner-09.html">Banner 09</a></li>
                <li><a href="banner-10.html">Banner 10</a></li>                 
              </ul>
            </li>

            <li class="menu-item menu-item-has-children">
              <a href="#">Menu Styles</a>
              <ul class="sub-menu">
                <li><a href="menu-01.html">Menu 01</a></li>
                <li><a href="menu-02.html">Menu 02</a></li>
                <li><a href="menu-03.html">Menu 03</a></li>
                <li><a href="menu-04.html">Menu 04</a></li>
                <li><a href="menu-05.html">Menu 05</a></li>
              </ul>
            </li>

            <li class="menu-item menu-item-has-children">
              <a href="#">Footers</a>
              <ul class="sub-menu">
                <li><a href="footer-01.html">Footer 01</a></li>
                <li><a href="footer-02.html">Footer 02</a></li>
                <li><a href="footer-03.html">Footer 03</a></li>
              </ul>
            </li>      
          </ul>
        </li>

            <li class="menu-item menu-item-has-children menu-item-has-mega-menu">
              <a href="#">Pages</a>
              <ul class="mega-menu sub-menu">
                <li>
                  <div class="container">
                    <div class="menu-item col-sm-3">
                      <ul class="menu-list">
                        <li><a href="404.html">404</a></li>
                        <li><a href="about-01.html">About</a></li> 
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <ul class="menu-list">
                        <li><a href="coming-soon.html">Coming Soon</a></li> 
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="register.html">Register / Login</a></li>  
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <ul class="menu-list">
                        <li><a href="service-01.html">Service</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li> 
                        <li><a href="shop-3column.html">Shop 3 Column</a></li>
                        <li><a href="shop-4column.html">Shop 4 Column</a></li>
                      </ul> 
                    </div>

                    <div class="menu-item col-sm-3">
                      <ul class="menu-list">
                        <li><a href="shop-list.html">Shop List 01</a></li>
                        <li><a href="shop-list-no-sidebar.html">Shop List 02</a></li>
                        <li><a href="shop-details-01.html">Shop Details 01</a></li>
                        <li><a href="shop-details-02.html">Shop Details 02</a></li>
                      </ul> 
                    </div>
                  </div>
                </li>
              </ul>
            </li>      

        <li class="menu-item menu-item-has-children menu-item-has-mega-menu">
          <a href="#">Shortcodes</a>
          <ul class="mega-menu sub-menu">
            <li>
              <div class="container">
                <div class="menu-item col-sm-3">
                  <ul class="menu-list with-icon">
                    <li><a href="alert.html"><i class="ti-info-alt"></i> Alert</a></li>
                    <li><a href="buttons.html"><i class="ti-link"></i> Buttons</a></li>
                    <li><a href="lists.html"><i class="ti-quote-right"></i> Lists &amp; Panels</a></li>
                    <li><a href="blockquotes.html"><i class="ti-quote-right"></i> Blockquotes</a></li>
                    <li><a href="counters.html"><i class="ti-alarm-clock"></i> Counters</a></li>
                    <li><a href="progress.html"><i class="ti-align-left"></i> Progress Bars</a></li>
                    <li><a href="deviders.html"><i class="ti-layout-line-solid"></i> Deviders</a></li>
                  </ul> 
                </div>

                <div class="menu-item col-sm-3">
                  <ul class="menu-list with-icon">
                    <li><a href="alert.html"><i class="ti-info-alt"></i> Alert</a></li>
                    <li><a href="buttons.html"><i class="ti-link"></i> Buttons</a></li>
                    <li><a href="lists.html"><i class="ti-quote-right"></i> Lists &amp; Panels</a></li>
                    <li><a href="blockquotes.html"><i class="ti-quote-right"></i> Blockquotes</a></li>
                    <li><a href="counters.html"><i class="ti-alarm-clock"></i> Counters</a></li>
                    <li><a href="progress.html"><i class="ti-align-left"></i> Progress Bars</a></li>
                    <li><a href="deviders.html"><i class="ti-layout-line-solid"></i> Deviders</a></li>
                  </ul> 
                </div>

                <div class="menu-item col-sm-3">
                  <ul class="menu-list with-icon">
                    <li><a href="alert.html"><i class="ti-info-alt"></i> Alert</a></li>
                    <li><a href="buttons.html"><i class="ti-link"></i> Buttons</a></li>
                    <li><a href="lists.html"><i class="ti-quote-right"></i> Lists &amp; Panels</a></li>
                    <li><a href="blockquotes.html"><i class="ti-quote-right"></i> Blockquotes</a></li>
                    <li><a href="counters.html"><i class="ti-alarm-clock"></i> Counters</a></li>
                    <li><a href="progress.html"><i class="ti-align-left"></i> Progress Bars</a></li>
                    <li><a href="deviders.html"><i class="ti-layout-line-solid"></i> Deviders</a></li>
                  </ul> 
                </div>

                <div class="menu-item col-sm-3">
                  <ul class="menu-list with-icon">
                    <li><a href="alert.html"><i class="ti-info-alt"></i> Alert</a></li>
                    <li><a href="buttons.html"><i class="ti-link"></i> Buttons</a></li>
                    <li><a href="lists.html"><i class="ti-quote-right"></i> Lists &amp; Panels</a></li>
                    <li><a href="blockquotes.html"><i class="ti-quote-right"></i> Blockquotes</a></li>
                    <li><a href="counters.html"><i class="ti-alarm-clock"></i> Counters</a></li>
                    <li><a href="progress.html"><i class="ti-align-left"></i> Progress Bars</a></li>
                    <li><a href="deviders.html"><i class="ti-layout-line-solid"></i> Deviders</a></li>
                  </ul> 
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="menu-item menu-item-has-children">
          <a href="#">Blog</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">Classic</a>
              <ul class="sub-menu">
                <li><a href="classic-01.html">Right Sidebar</a></li>
                <li><a href="classic-02.html">Left Sidebar</a></li>
                <li><a href="classic-03.html">No Sidebar</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Grid</a>
              <ul class="sub-menu">
                <li><a href="grid-2column-01.html">2 Column 01</a></li>
                <li><a href="grid-2column-02.html">2 Column 02</a></li>
                <li><a href="grid-3column-01.html">3 Column 01</a></li>
                <li><a href="grid-3column-02.html">3 Column 02</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Masonary</a>
              <ul class="sub-menu">
                <li><a href="masonry-2column-01.html">2 Column 01</a></li>
                <li><a href="masonry-2column-02.html">2 Column 02</a></li>
                <li><a href="masonry-3column-01.html">3 Column 01</a></li>
                <li><a href="masonry-3column-02.html">3 Column 02</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Blog Single</a>
              <ul class="sub-menu">
                <li><a href="blog-single-classic.html">Single Classic</a></li>
                <li><a href="blog-single-no-sidebar.html">Single Fullwidth</a></li>
                <li><a href="blog-single-left-sidebar.html">Left Sidebar</a></li>
                <li><a href="blog-single-right-sidebar.html">Right Sidebar</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item menu-item-has-children">
          <a href="#">Portfolio</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">Grid 2 Column</a>
              <ul class="sub-menu">
                <li><a href="portfolio-grid-2column-01.html">2 Column 01</a></li>
                <li><a href="portfolio-grid-2column-02.html">2 Column 02</a></li>
              </ul>
            </li>   

            <li class="menu-item menu-item-has-children">
              <a href="#">Grid 3 Column</a>
              <ul class="sub-menu">
                <li><a href="portfolio-grid-3column.html">3 Column 01</a></li>
                <li><a href="portfolio-grid-3column-02.html">3 Column 02</a></li>
              </ul>
            </li>

            <li class="menu-item menu-item-has-children">
              <a href="#">Grid 4 Column</a>
              <ul class="sub-menu">
                <li><a href="portfolio-grid-4column.html">4 Column 01</a></li>
                <li><a href="portfolio-grid-4column-02.html">4 Column 02</a></li>
              </ul>
            </li>    

            <li class="menu-item menu-item-has-children">
              <a href="#">Masonry 3 Column</a>
              <ul class="sub-menu">
                <li><a href="portfolio-masonry-3column.html">3 Column 01</a></li>
                <li><a href="portfolio-masonry-3column-02.html">3 Column 02</a></li>
              </ul>
            </li>                                           

            <li><a href="portfolio-list.html">List Style</a></li>

            <li class="menu-item menu-item-has-children">
              <a href="#">Portfolio Detail</a>
              <ul class="sub-menu">
                <li><a href="portfolio-details.html">Details 01</a></li>
                <li><a href="portfolio-details-02.html">Details 02</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item"><a href="#">Buy</a></li> 

      </ul><!-- /.navbar-nav -->
    </nav><!-- /.navbar-collapse -->

  </header><!-- /#masthead -->




  <section class="page-name-sec page-name-sec-01">
    <div class="section-padding">
      <div class="container">
        <h3 class="page-title">Features</h3><!-- /.page-title -->

        <div class="row">
          <div class="col-sm-7">
            <p class="description">
              Duis sed odio sit amet nibh vulputate cursus a sit amet. 
            </p><!-- /.description -->
          </div>

          <div class="col-sm-5">
            <ol class="breadcrumb text-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">Menu 03</li>
            </ol><!-- /.breadcrumb -->
          </div>

        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section><!-- /.page-name-sec -->




  <section class="intro text-center">
    <div class="section-padding">
      <div class="container">
        <div class="section-top">
          <h3 class="section-title">Welcome to Shopaholic <span></span></h3><!-- /.section-title -->
        </div><!-- /.section-top -->
        <p class="section-description">
          There was a tray of drinks on a table beside him, from which he filled himself a stiff whisky and soda. He drank it off in three gulps, and cracked the glass as he set it down.
        </p><!-- /.section-description -->

        <div class="section-details text-left">
          <div class="row">
            <div class="col-md-6">
              <img src="images/about/1.jpg" alt="Image">
            </div>

            <div class="col-md-6">
              <h4 class="sub-title">
                We give you the endless possibilities to express yourself to the world
              </h4><!-- /.title -->

              <p class="description">
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                <br>
                <br>
                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
              </p><!-- /.description -->

              <ul>
                <li>
                  Intrinsicly communicate error-free.
                </li>
                <li>
                  Energistically customize performance based architectures.
                </li>
                <li>
                  Seamlessly actualize top-line e-commerce whereas.
                </li>
              </ul>
            </div>
          </div><!-- /.row -->
        </div><!-- /.section-details -->
      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section>



  <section class="extra-features text-center bg-gray">
    <div class="section-padding">
      <div class="container">
        <div class="section-top">
          <h2 class="section-title">More about us<span></span></h2><!-- /.section-title -->
        </div><!-- /.section-top -->

        <p class="section-description">
          I am giving you what he told me as well as I could make it out. Away behind all the Governments and the armies there was a big subterranean movement going on, engineered by very dangerous people. He had come on it by accident
        </p><!-- /.description -->

        <div class="section-details text-left">
          <div class="row">
            <div class="col-md-6">
              <h3 class="sub-title">We are skillful</h3><!-- /.sub-title -->
              <div class="progress-bar-item">
                <div class="progress thin">
                  <div class="progress-bar default" role="progressbar" aria-valuenow="83" aria-valuemin="0" data-progress-value="83%" aria-valuemax="100" style="width: 83%;">
                    <span class="progress-text">Design</span> 
                    <span class="progress-percent"> 83% </span>
                  </div>
                </div><!-- /.progress --> 

                <div class="progress thin">
                  <div class="progress-bar default" role="progressbar" aria-valuenow="76" aria-valuemin="0" data-progress-value="76%" aria-valuemax="100" style="width: 76%;">
                    <span class="progress-text">Development</span> 
                    <span class="progress-percent"> 76% </span>
                  </div>
                </div><!-- /.progress -->

                <div class="progress thin">
                  <div class="progress-bar default" role="progressbar" aria-valuenow="90" aria-valuemin="0" data-progress-value="90%" aria-valuemax="100" style="width: 90%;">
                    <span class="progress-text">Marketing</span> 
                    <span class="progress-percent"> 90% </span>
                  </div>
                </div><!-- /.progress -->

                <div class="progress thin">
                  <div class="progress-bar default" role="progressbar" aria-valuenow="95" aria-valuemin="0" data-progress-value="95%" aria-valuemax="100" style="width: 95%;">
                    <span class="progress-text">WordPress</span> 
                    <span class="progress-percent"> 95% </span>
                  </div>
                </div><!-- /.progress -->

                <div class="progress thin">
                  <div class="progress-bar default" role="progressbar" aria-valuenow="90" aria-valuemin="0" data-progress-value="90%" aria-valuemax="100" style="width: 90%;">
                    <span class="progress-text">Branding</span> 
                    <span class="progress-percent"> 90% </span>
                  </div>
                </div><!-- /.progress -->                
              </div>

            </div>
            <div class="col-md-6">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        We are Passionate about what we do
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        We are efficient working People for your service
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Our Customer service is extremely Professional
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.section-details -->

      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section>


  <section class="clients-logo clients-logo-03 text-center">
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="item bg-gray"><a href="#"><img src="images/brand/1.png" alt="Brand Logo"></a></div><!-- /.item -->
          </div>
          <div class="col-sm-3">
            <div class="item bg-gray"><a href="#"><img src="images/brand/2.png" alt="Brand Logo"></a></div><!-- /.item -->
          </div>
          <div class="col-sm-3">
            <div class="item bg-gray"><a href="#"><img src="images/brand/3.png" alt="Brand Logo"></a></div><!-- /.item -->
          </div>
          <div class="col-sm-3">
            <div class="item bg-gray"><a href="#"><img src="images/brand/4.png" alt="Brand Logo"></a></div><!-- /.item -->
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section>


  <section class="subscribe-03 background-bg" data-image-src="images/home07/subscribe.jpg">
    <div class="container">
      <div class="subscribe-details">
        <div class="row">
          <div class="col-sm-5">
            <div class="section-top">
              <h3 class="section-title">Stay up to date <span></span></h3><!-- /.section-title -->
            </div>
          </div>
          <div class="col-sm-7">
            <form class="subscribe-form" action="#">
              <input class="form-control" type="email" placeholder="myemail@email.com">
              <input class="btn btn-subscribe" type="submit" value="Subscribe">
            </form>
          </div>
        </div><!-- /.row -->
      </div><!-- /.subscribe-details -->
    </div><!-- /.section-padding -->
  </section>



  <footer class="site-footer">
    <div class="footer-top">
      <div class="section-padding">
        <div class="container">
          <div class="row">

            <div class="col-md-4 col-sm-6">
              <div class="widget widget_about_us">
                <a class="footer-logo" href="#"><img src="images/logo2.png" alt="Logo"></a>
                <div class="widget-details">
                  <p class="description">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                  </p><!-- /.description -->
                  <address>
                    121 King Street, Melbourne VIC 3000, Australia
                  </address>
                  <span>+61 3 8376 6284</span>
                  <span><a href="#">support@shopaholic.com</a></span>
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="widget widget_useful_links">
                <h4 class="widget-title">Useful links</h4>
                <div class="widget-details">
                  <span><i class="ti-control-record"></i><a href="#">About us</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Customer service</a></span>
                  <span><i class="ti-control-record"></i><a href="#">New Collection</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Best Sellers</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Manufacturers</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Privacy policy</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Terms & condition</a></span>
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-md-2 col-sm-6">
              <div class="widget widget_shop_links">
                <h4 class="widget-title">Shops</h4>
                <div class="widget-details">
                  <span><i class="ti-control-record"></i><a href="#">Trending Now</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Women</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Men</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Kids</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Accessories</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Top brands</a></span>
                  <span><i class="ti-control-record"></i><a href="#">Shoes</a></span>                  
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="widget widget_instagram_feed">
                <h4 class="widget-title">Instagram Photos</h4>
                <div class="widget-details">
                  <a href="#"><img src="images/instagram/1.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/2.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/3.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/4.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/5.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/6.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/7.png" alt="Instagram Image"></a>
                  <a href="#"><img src="images/instagram/8.png" alt="Instagram Image"></a>
                </div><!-- /.widget-details -->
              </div><!-- /.widget -->
            </div>

          </div>
        </div>
      </div>
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text-left">
            <div class="copyright">
              © <a href="https://demos.jeweltheme.com/shopaholic">Shopaholic</a> 2016 | Develpoed With Love by <a href="https://jeweltheme.com">Jewel Theme</a>
            </div><!-- /.copyright -->
          </div>

          <div class="col-sm-5 text-right">
            <div class="payment-list">
              <a href="#"><img src="images/payment/1.png" alt="Payment Logo"></a>
              <a href="#"><img src="images/payment/2.png" alt="Payment Logo"></a>
              <a href="#"><img src="images/payment/3.png" alt="Payment Logo"></a>
              <a href="#"><img src="images/payment/4.png" alt="Payment Logo"></a>
              <a href="#"><img src="images/payment/5.png" alt="Payment Logo"></a>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
  </footer>



  <div id="scroll-to-top" class="scroll-to-top">
    <i class="fa fa-angle-double-up"></i>    
  </div>



  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>


</body>
</html>