<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link rel="icon" href="layout/images/logoGalaxyBook 2.png" type="image/png">
    <title>GalaxyBook</title>
    <meta name="description" content="GalaxyBook - e-Commerce HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/et-line-icons.css">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/themes.css">
    <link rel="stylesheet" href="assets/css/user/my-profile.css">
</head>

<body>
    <section class="blog-posts left-sidebar">
        <div class="section-padding" style="background-color: #efefef;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pull-right" style="background-color: white;">
                        <article class="my-profile">
                            <div class="head">
                                <h1>hồ sơ của tôi</h1>
                                <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                            </div>
                            <div class="body row">
                                <div class="col-md-8">1
                                    <div class="container-1">
                                        <table style="padding-right: 1rem;" class="tables--info"> 
                                            <tr>
                                                <td>Họ và tên</td>
                                                <td><input type="text" name="name" id="" value="Trương Huỳnh Can"></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>truonghuynhcan@gmail.com <a href="">Thay đổi</a></td>
                                            </tr>
                                            <tr>
                                                <td>Số điện thoại</td>
                                                <td>0971735117 <a href="">Thay đổi</a></td>
                                            </tr>
                                            <tr>
                                                <td>Tên đăng nhập</td>
                                                <td>huynhcan</td>
                                            </tr>
                                            <tr>
                                                <td>Mật khẩu</td>
                                                <td><a href="#">Thay đổi mật khẩu</a></td>
                                            </tr>
                                            <tr>
                                                <td>Ngày tạo tài khoản</td>
                                                <td>2023-11-10</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><a href="#" class="btn bg-gold btn-radius btn-xs" style="width: 100px; line-height: 2rem;">Lưu</a></td>
                                            </tr>
                                        </table>
                                    </div><!-- container -->
                                </div><!-- col-md-8 -->
                                <div class="col-md-4">
                                    <div class="container-1">
                                        <div class="fix--img">
                                            <div class="avatar-circle">
                                                <img src="../upload/avartar/avatar1.jpg" alt="" width="150px" height="150px">
                                            </div>
                                            <input type="file" name="" id="" accept=".jpg,.jpeg,.png" style="display: none;">
                                            <a href="#" class="btn light-border btn-radius btn-xs" style="width: 100px; line-height: 2rem;">Chọn ảnh</a>

                                            <p>Dung lượng file tối đa 1 MB<br>Định dạng:.JPG, .JPEG, .PNG</p>
                                        </div>
                                    </div><!-- container -->
                                </div>

                            </div><!-- body row -->
                        </article><!--/.post-->

                    </div>

                    <div class="col-md-4 pull-left">
                        <aside class="sidebar">
                            <div class="info info--nav">
                                <div class="avatar">
                                    <img src="images/user/avatar1.jpg" alt="" width="50px" height="50px">
                                </div>
                                <div class="name">
                                    <div>Trương Huỳnh Can</div>
                                    <div>
                                        <a href="#">sửa hồ sơ</a>
                                    </div>
                                </div>
                            </div>

                            <div class="widget widget_categories">
                                <div class="widget-details">
                                    <ul>
                                        <li><a href="#">Tài khoản của tôi</a></li>
                                        <li><a href="#">Đơn mua</a></li>
                                        <li><a href="#">Thông báo</a></li>
                                    </ul>
                                </div><!-- /.widget-details -->
                            </div><!--/.widget-->

                        </aside><!--/.sidebar-->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.blog-posts -->
</body>

</html>