h1{
    color: red;
}
.d-flex{
    display: flex;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* -------- */
.info{
    height: auto;
    display: flex;
    padding: 15px;
    bottom: 1px solid #efefef;

}
.info .avatar{
    padding: 0.2rem;
}
.info .avatar img, .avatar-circle{
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid none;
}
.info .name{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
}

/* my-profile */
.my-profile{
    padding: 1rem 1rem 1rem 2rem;
}
.my-profile .head{
    padding-bottom: 1rem;
    border-bottom: 1px solid #efefef;
}
.my-profile .head h1{
    color: black;
    font-family: Arial;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.my-profile .body td{
    padding-bottom: 20px;
    font-family:  Helvetica;
    font-size: 0.75rem;

}
.my-profile .body input{
    font-family:  Helvetica;
    font-size: 0.75rem;
}
.my-profile .body tr>td:first-child{
    text-align: right;
}
.my-profile .body tr>td:last-child{
    padding-left: 2rem ;
}

.fix--img{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}