<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản Lý Thư viện thành phố (HCMC Lib)</title>
  <link rel="stylesheet" href="./bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0 bg-primary collapse collapse-horizontal show" style="min-height: 100vh;" id="openMenu">
                <strong class="text-center d-block p-3 text-white">TRANG QUẢN LÝ</strong>
                <div class="list-group list-group-item-primary m-3">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                      Tổng quan
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Tài khoản</a>
                    <a href="#" class="list-group-item list-group-item-action">Chủ đề</a>
                    <a href="#" class="list-group-item list-group-item-action">Quần áo</a>
                    <a class="list-group-item list-group-item-action" aria-disabled="true">Thống kê</a>
                  </div>
            </div>
            <div class="col-md p-0">
                <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                    <div class="container-fluid">
                      <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="collapse" data-bs-target="#openMenu" aria-expanded="false" aria-controls="collapseWidthExample">
                        =
                      </button>
                      <a class="navbar-brand" href="#">HCMC Lib</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Xin Chào, Đạt
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Xem Trang Chủ</a></li>
                              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <div class="container">
                  <a href="admin-account-add.html" class="btn btn-success 
                  float-end">Thêm Sách mới</a>
                  <h2 class="my-3">Sách</h2>
                  <table class="table text-center align-middle">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Hình Ảnh</th>
                        <th class="text-start">Tựa Sách</th>
                        <th class="text-start">tác giả</th>
                        <th class="text-end">Giá Trị</th>
                        <th>Số Lượng</th>
                        <th>Chủ Đề</th>
                        <th>Số cảm Nghĩ</th>
                        <th>Lược Đọc</th>
                        <th>Lược Xem</th>
                        <th class="text-end">Hành Động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td><img src="./bootstrap-5.3.2-dist/img/sp1.jfif" 
                          class="rounded-3" style="width: 64px"></td>
                        <td class="text-start">Truyện kể trước giờ ngủ</td>
                        <td>Đông dao</td>
                        <td class="text-end">68.000đ</td>
                        <td>10</td>
                        <td>Thiếu nhi</td>
                        <td>0</td>
                        <td>0</td>
                        <td>5</td>
                        <td class="text-end">
                          <button class="btn btn-warning">
                            <i class="fa-solid fa-gear"></i>sửa</button>
                          <button class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>Xóa</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
        </div>
    </div>
    
  <script src="./bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>