<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg
  bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HCMC Lid</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Trang Chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chủ đề
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Tiểu thuyết</a></li>
              <li><a class="dropdown-item" href="#">Trinh thám</a></li>
              <li><a class="dropdown-item" href="#">Truyện tranh</a></li>
              <li><a class="dropdown-item" href="#">SGK</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Giỏ Sách</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="# " role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Xin chào, Đạt
            </a>
            <ul class="dropdown-menu end-0" style="left:auto">
              <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
              <li><a class="dropdown-item" href="#">Lịch sữ mượn sách</a></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="carouselExample" class="carousel slide my-3">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../template/bootstrap-5.3.2-dist/img/slides1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../template/bootstrap-5.3.2-dist/img/slides2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../template/bootstrap-5.3.2-dist/img/slides3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
     
    <div class="row">
      <div class="col-md-3">
        <form action="" method="get" class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập tựa sách cần tìm">
            <button class="btn btn-primary" type="submit" id="search">Tìm Kiếm</button>
          </div>
        </form>
        <ul class="list-group mb-3">
          <li class="list-group-item active" aria-current="true">Sách đọc nhiều</li>
          <li class="list-group-item">1.Dark nhân tâm</li>
          <li class="list-group-item">2.tuổi trể đáng giá bao nhiêu</li>
          <li class="list-group-item">3.Bí qyết không ăn mà sống</li>
          <li class="list-group-item">4.Sắc đẹp ngàn cân</li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <img src="./bootstrap-5.3.2-dist/img/sp2.jfif" class="w-100">
          </div>
          <div class="col-md-6">
            <h2>Truyện đọc cho bé trước giờ ngủ</h2>
            <div class="row">
              <div class="col-md-6">Tác Giả
                <strong>Đồng Giao</strong>
              </div>
              <div class="col-md-6">Chủ Đề
                <strong>Thiếu nhi</strong>
              </div>
            </div>
            <div class="text-danger fs-1">68.000Đ</div>
            <small>Còn <strong>5</strong> quyển trong thư viện</small>
            <br>
            <button class="btn btn-outline-primary btn-lg">Mượn Sách</button>
          <hr>
            <p class="my-3">
            Mô tả sách là ghi lại một cách đầy đủ, ngắn gọn các chi tiết của một quyển sách đó theo những qui tắc nhất định,
            giúp cho bạn đọc có khái niệm về quyển sách trước khi tiếp xúc trực tiếp với quyển sách đó.
             Mô tả sách là ghi lại một cách đầy đủ, ngắn gọn các chi tiết của một quyển sách đó theo những qui tắc nhất định,
            giúp cho bạn đọc có khái niệm về quyển sách trước khi tiếp xúc trực tiếp với quyển sách đó.</p>
          </div>
        </div>
        <h2>Có thể bạn thích đọc</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="card mb-3">
              <img src="./bootstrap-5.3.2-dist/img/sp1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.500đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card">
              <img src="./bootstrap-5.3.2-dist/img/sp1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.500đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card">
              <img src="./bootstrap-5.3.2-dist/img/sp1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.500đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card">
              <img src="./bootstrap-5.3.2-dist/img/sp1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">truyện đọc cho bé trước giờ ngủ</h5>
                <p class="card-text">68.500đ</p>
                <a href="#" class="btn btn-primary">Mượn</a>
              </div>
            </div>
          </div>
        </div>
        <h2>Cảm nghĩ của bạn</h2>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Phạm Ngọc Cường</strong><br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần</i>
          </div>
          <div class="col-sm-9">
            Cảm nghĩ là một danh từ, dùng để miêu tả cảm xúc những cảm nhận cá nhân từ bên trong một con người đối với một sự vật, một hiện tượng nào đó. 
            Nhưng từ cảm nghĩ có thể hiểu theo một nghĩa khác, đó là sự rung động, một cảm xúc bất chợt mà một người nào đó phát ra trước một điều gì đó.
            Cảm nghĩ mang đến cho con người một sự thoải mái về mặt tư duy, sự đồng cảm với người khác khiến chúng ta cảm thấy thoải mái và dễ chịu hơn. 
            Thêm vào đó họ sẽ có được một cái nhìn đa chiều về sự việc đó. Ngược lại, nếu họ có những cảm nghĩ xấu, họ sẽ tỏ ra không vừa lòng, 
            khó chịu về việc đó, có thể qua những ngôn từ hoặc những cảm xúc mà họ thể hiện bên ngoài.
          </div>
        </div>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Phạm Ngọc Cường</strong><br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần</i>
          </div>
          <div class="col-sm-9">
            Cảm nghĩ là một danh từ, dùng để miêu tả cảm xúc những cảm nhận cá nhân từ bên trong một con người đối với một sự vật, một hiện tượng nào đó. 
            Nhưng từ cảm nghĩ có thể hiểu theo một nghĩa khác, đó là sự rung động, một cảm xúc bất chợt mà một người nào đó phát ra trước một điều gì đó.
            Cảm nghĩ mang đến cho con người một sự thoải mái về mặt tư duy, sự đồng cảm với người khác khiến chúng ta cảm thấy thoải mái và dễ chịu hơn. 
            Thêm vào đó họ sẽ có được một cái nhìn đa chiều về sự việc đó. Ngược lại, nếu họ có những cảm nghĩ xấu, họ sẽ tỏ ra không vừa lòng, 
            khó chịu về việc đó, có thể qua những ngôn từ hoặc những cảm xúc mà họ thể hiện bên ngoài.
          </div>
        </div>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Phạm Ngọc Cường</strong><br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần</i>
          </div>
          <div class="col-sm-9">
            Cảm nghĩ là một danh từ, dùng để miêu tả cảm xúc những cảm nhận cá nhân từ bên trong một con người đối với một sự vật, một hiện tượng nào đó. 
            Nhưng từ cảm nghĩ có thể hiểu theo một nghĩa khác, đó là sự rung động, một cảm xúc bất chợt mà một người nào đó phát ra trước một điều gì đó.
            Cảm nghĩ mang đến cho con người một sự thoải mái về mặt tư duy, sự đồng cảm với người khác khiến chúng ta cảm thấy thoải mái và dễ chịu hơn. 
            Thêm vào đó họ sẽ có được một cái nhìn đa chiều về sự việc đó. Ngược lại, nếu họ có những cảm nghĩ xấu, họ sẽ tỏ ra không vừa lòng, 
            khó chịu về việc đó, có thể qua những ngôn từ hoặc những cảm xúc mà họ thể hiện bên ngoài.
          </div>
        </div>
        <div class="row my-3 border rounded-3">
          <div class="col-sm-3">
            <strong>Phạm Ngọc Cường</strong><br>
            11:17 28/09/2023 <br>
            <i>Đã mượn 1 lần</i>
          </div>
          <div class="col-sm-9">
            Cảm nghĩ là một danh từ, dùng để miêu tả cảm xúc những cảm nhận cá nhân từ bên trong một con người đối với một sự vật, một hiện tượng nào đó. 
            Nhưng từ cảm nghĩ có thể hiểu theo một nghĩa khác, đó là sự rung động, một cảm xúc bất chợt mà một người nào đó phát ra trước một điều gì đó.
            Cảm nghĩ mang đến cho con người một sự thoải mái về mặt tư duy, sự đồng cảm với người khác khiến chúng ta cảm thấy thoải mái và dễ chịu hơn. 
            Thêm vào đó họ sẽ có được một cái nhìn đa chiều về sự việc đó. Ngược lại, nếu họ có những cảm nghĩ xấu, họ sẽ tỏ ra không vừa lòng, 
            khó chịu về việc đó, có thể qua những ngôn từ hoặc những cảm xúc mà họ thể hiện bên ngoài.
          </div>
        </div>
      </div>
    </div>
  <footer class="text-center text-bg-primary p-3 rounded-3">
    Bản quyền &copy; 2023, thuộc về thư viện thành phố (HCMC Lid)
  </footer>
</div>

<script src="./bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>